<ng-form class="d-flex" *ngIf="!authService.isAuthenticated()" name="loginForm" ngForm>
  <div class="input-group me-3">
    <span class="input-group-text" id="profile_username">
      <fa-icon [icon]="faUserAstronaut"></fa-icon>
    </span>
    <input type="text" class="form-control"
           placeholder="Username"
           aria-label="Username"
           [(ngModel)]="loginData.username"
           name="username"
           aria-describedby="profile_username">
  </div>
  <div class="input-group me-3">
    <span class="input-group-text" id="profile_password">
      <fa-icon [icon]="faKey"></fa-icon>
    </span>
    <input [type]="showPassword?'text':'password'"
           class="form-control"
           placeholder="Password"
           aria-label="Password"
           [(ngModel)]="loginData.password"
           name="password"
           aria-describedby="profile_password">
    <span class="input-group-text" id="profile_password1">
      <a class="type-toggle" (click)="togglePassword()">
        <fa-icon [icon]="faEyeSlash" [hidden]="showPassword"></fa-icon>
        <fa-icon [icon]="faEye" [hidden]="!showPassword"></fa-icon>
      </a>
    </span>
  </div>
  <div class="input-group-sm me-1 pt-1">
    <button type="button" class="btn btn-primary" (click)="login()">Login</button>
  </div>
  <div class="input-group-sm me-1 pt-1">
    <button type="button" class="btn btn-secondary">Register</button>
  </div>
</ng-form>


<ng-form class="d-flex" *ngIf="authService.isAuthenticated()" name="logoutForm" ngForm>
  <div class="input-group-sm me-1 pt-1">
    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
</ng-form>
