<div *ngIf="authService.isAuthenticated()">
  <ng-form class="form-control mt-3" >
    <div class="row">
      <div class="mb-3 col">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text"
               class="form-control" id="firstName"
               aria-describedby="First Name"
               [ngModel]="myProfile.firstName"
               (ngModelChange)="myProfile.firstName = $event"
               [value]="myProfile.firstName"
        >
      </div>
      <div class="mb-3 col">
        <label for="middleName" class="form-label">Middle Name</label>
        <input type="text"
               class="form-control" id="middleName"
               aria-describedby="Middle Name"
               [ngModel]="myProfile.middleName"
               (ngModelChange)="myProfile.middleName = $event"
               [value]="myProfile.middleName"
        >
      </div>
      <div class="mb-3 col">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text"
               class="form-control"
               id="lastName" aria-describedby="Last Name"
               [ngModel]="myProfile.lastName"
               (ngModelChange)="myProfile.lastName = $event"
               [value]="myProfile.lastName"
        >
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-md-5">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control"
                  id="address" rows="5"
                  [ngModel]="myProfile.address"
                  (ngModelChange)="myProfile.address = $event"
                  [value]="myProfile.address"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-sm-3">
        <button class="btn btn-primary mb-3" (click)="save(myProfile)">Save</button>
      </div>
    </div>
  </ng-form>
</div>
