<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="/">
      <fa-icon [icon]="faCoffee" size="1x" class="d-inline-block align-text-top me-2"></fa-icon>
      <!--      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">-->
      HR Portal
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="authService.isAuthenticated()">
          <li *ngFor="let menuVar of getMenu() | async; index as i" class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="{{menuVar.url}}" routerLinkActive="active">{{menuVar.name}}</a>
          </li>
        </ng-container>

      </ul>
    </div>
    <app-profile></app-profile>
  </div>
</nav>
